obj
*~

# Created by the 'autoreconf' step.
configure
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure

# Created by the 'configure' step in the build process.
.deps/
Makefile
config.h
config.log
config.status
stamp-h1

# Created by the make process.
downtimed.o
downtimedb.o
downtimed
downtimes.o
downtimes
