[Unit]
Description=Downtime record keeper

[Service]
EnvironmentFile=-/etc/default/downtimed
ExecStart=/usr/local/sbin/downtimed -F $DOWNTIMED_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
